# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# For gitlab. LFS on FH Joanneum Gitlab take up way too much space -> sync with Gitlab is not possible.
# Full version of the project is on Github
nature-3d-scene/public

